.button_wrapper {
  width: 100vw;
  height: 52px;
  display: flex;
  justify-content: center;
  margin: 10px 0;

  button {
    background-color: transparent;
    padding: 10px 20px 10px 12px;
    border-radius: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 246px;

    img {
      width: 35px;
      padding-bottom: 1px;
    }

    span {
      font-family: "AppleSDGothicNeoR00";
      padding-top: 1px;
      width: 100%;
    }

    &.naver {
      background-color: #03c75a;
      color: #ffffff;
    }

    &.kakao {
      background-color: #fee500;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
