$color-back: #fce6e7;
$color-light: #fb5862;
$color-point: #e5333e;
$color-line: #c9c9c9;
$color-text: #666666;
$font-sm: 11px;
$font-md: 13px;
$font-lg: 15px;
$font-xl: 20px;
$font-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;

@mixin modal-title {
  color: $color-text;
  font-size: $font-xl;
  font-weight: 100;
}

@mixin item-name {
  color: $color-point;
  font-size: $font-md;
}

@mixin item-content {
  color: $color-text;
  font-size: $font-sm;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-text {
  text-shadow: $font-shadow;
        font-size: $font-md;
      color: $color-text;
}