@import "../common/common";

.red_button {
  width: 80px;
  height: 40px;
  font-size: $font-lg;
  color: white;
  background-color: $color-light;
}

.white_button {
  width: 80px;
  height: 40px;
  font-size: $font-lg;
  color: $color-light;
  background-color: white;
  border: 1px solid $color-light;
}
