@import "../common/common";

.wrapper {
  @include center;
  flex-direction: column;
  margin: 10%;
  gap: 5px;

  .header {
    display: flex;
    align-items: center;

    > h1 {
      font-size: 40px;
      font-weight: normal;
    }
  }

  .content_box {
    @include center;
    flex-direction: column;
    gap: 4px;

    .content1 {
      font-size: 15px;
      color: $color-text;
    }

    .content2 {
      font-size: 11px;
      color: $color-line;
    }
  }
}
