@import '../common/common';

.wrapper {
  @include center;
  gap: 5px;
  width: 80%;
  
  select {
    height: 30px;
    background-color: $color-back;
    @include input-text;
    width: 50%;
  }
  
  option {
    height: 30px;
    background-color: $color-back;
    @include input-text;
    width: 50%;
  }
  
}