@import "../common/common";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 5px 0px;
  &::after {
    content: "";
    // display: block;
    border: 1px dashed $color-back;
    width: 100%;
  }
  &:last-child::after {
    content: none;
  }
  .food_option_box {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    > span {
      font-size: $font-lg;
      color: $color-text;
      min-width: 60px;
    }
    .expiry_date_box {
      @include center;
      gap: 5px;
      width: 80%;

      select {
        height: 30px;
        background-color: $color-back;
        @include input-text;
        width: 50%;
      }

      option {
        height: 30px;
        // background-color: $color-back;
        @include input-text;
        width: 50%;
      }
    }
    > input {
      @include input-text;
      height: 30px;
      width: 80%;
      text-align: start;
      background-color: $color-back;
      padding: 0 5px;
    }
    > select {
      @include input-text;
      height: 30px;
      text-align: start;
      padding: 0 5px;
      background-color: $color-back;
    }
    .price_box {
      @include input-text;
      width: 80%;
      background-color: $color-back;
      padding: 0 5px;
      > input {
        max-width: 162px;
        background-color: transparent;
        text-align: start;
        height: 30px;

        @include input-text;
      }
      > span {
        font-size: $font-lg;
      }
    }

    .storage_box {
      border: 2px solid $color-back;
      color: $color-text;
      font-size: 13px;
      height: 30px;
      width: 35%;
      @include center;
    }
  }
}

input::placeholder {
  color: $color-line;
  font-style: italic;
  text-shadow: none;
  font-size: $font-sm;
}

.barcode_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 30px;
  }
}

.error_text {
  font-size: $font-sm;
  color: $color-light;
  width: 100%;
  text-align: end;
}
