@import "../common/common";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 5px 0px;
  &::after {
    content: "";
    // display: block;
    border: 1px dashed $color-back;
    width: 100%;
  }
  &:last-child::after {
    content: none;
  }
  .food_option_box {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    > span {
      font-size: $font-lg;
      color: $color-text;
      min-width: 60px;
    }
    > input {
      @include input-text;
      height: 30px;
      width: 80%;
      text-align: start;
      padding-left: 12px;
      background-color: $color-back;
    }
    > select {
      @include input-text;
      height: 30px;
      text-align: start;
      padding-left: 12px;
      background-color: $color-back;
    }
    .price_box {
      @include input-text;
      width: 80%;
      background-color: $color-back;
      > input {
        background-color: transparent;
        text-align: start;
        height: 30px;

        @include input-text;
      }
      > span {
        font-size: $font-lg;
      }
    }
    .category_box {
      @include input-text;
      width: 80%;
      background-color: $color-back;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0px 5px;
      .category_img {
        width: 30px;
        aspect-ratio: 1/1;
      }
      > input {
        width: 85%;
        background-color: transparent;
        text-align: start;
        height: 30px;
        @include input-text;
      }
      .category_search_img {
        width: 20px;
        aspect-ratio: 1/1;
      }
    }
  }
}
