@import "../common/common";

.wrapper {
  @include center;
  flex-direction: column;
  gap: 5px;

  .img_box {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    @include center;
    background-color: $color-back;
    border: 1px dashed $color-light;
    position: relative;

    .img_gray_box {
      @include absolute-center;
      z-index: 1;
      width: 60px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      @include center;
      background-color: rgba(black, 0.2);
    }

    img {
      width: 80%;
      aspect-ratio: 1/1;
    }
  }
  .clicked_img_box {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    @include center;
    background-color: $color-back;
    border: 2px solid $color-light;
    position: relative;

    .img_solid_white_box {
      @include absolute-center;
      z-index: 1;
      width: 58px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      @include center;
      background-color: rgba(white, 0.6);
    }
    .food_img {
      width: 80%;
      aspect-ratio: 1/1;
    }

    .check_img {
      @include check-img;
    }
  }

  .text_box {
    @include center;
    flex-direction: column;
    gap: 3px;
    .item_name {
      @include item-name;
    }
    .item_content {
      @include item-content;
    }
  }

  .report_img_box {
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    @include center;
    background-color: $color-back;
    border: 1px dashed $color-light;
    position: relative;
    margin: 0 1px;

    .img_white_box {
      @include absolute-center;
      width: 45px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      @include center;
      background-color: rgba(white, 0.5);
    }

    img {
      width: 70%;
      aspect-ratio: 1/1;
    }
  }
}
