@import "../common/common";

.wrapper {
  @include center;
  flex-direction: column;
  padding-right: 20px;
  .main_section {
    width: 90%;
    .btn_section {
      display: grid;
      grid-template-rows: 2fr 0.7fr 2.3fr;
      > div {
        @include center;
        > img {
          width: 30px;
        }
      }
    }
  }
  > span {
    font-size: $font-sm;
    color: $color-line;
    line-height: 14px;
    margin-bottom: 12px;
    text-align: end;
    width: 90%;
    > span {
      padding: 2px;
      background-color: rgba($color-back, 0.5);
    }
  }
}
