@import "../common/common";

.wrapper {
  @include center;
  flex-direction: column;
  .main_section {
    display: grid;
    grid-template-columns: 6fr 1.2fr;
    .btn_section {
      display: grid;
      grid-template-rows: 2fr 0.7fr 2.3fr;
      > div {
        @include center;
        > img {
          width: 30px;
        }
      }
    }
  }
}
