@import "../common/common";

.wrapper {
  height: 100%;
  background-color: $color-back;
  padding: 5px;
  .white_wrapper {
    height: 100%;
    padding: 12px;
    background-color: white;
    @include center;
    flex-direction: column;
    gap: 6px;
    position: relative;
    > h1 {
      @include modal-title;
      background-color: $color-back;
      border-radius: 20px;
      padding: 10px 24px;
    }
    .home_img {
      width: 25px;
      aspect-ratio: 1/1;
      position: absolute;
      left: 20px;
      top: 20px;
    }
    .main_section {
      @include center;
      height: 100%;
      flex-direction: column;
      gap: 12px;
      width: 100%;
    }
    .btn_section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0px 12px;
      .right_btn_box {
        display: flex;
        gap: 13px;
      }
      .btn_box {
        @include center;
        flex-direction: column;
        gap: 5px;
        > img {
          width: 30px;
          height: 30px;
        }
        > span {
          @include item-content;
        }
      }
    }
  }
}
