@import "../common/common";

.wrapper {
  position: relative;
  height: 100vh;
  > h2 {
    z-index: 200;
    position: absolute;
    top: 2.5%;
    left: 50%;
    translate: (-50%);
    color: $color-point;
    background-color: white;
    opacity: 0.9;
    border: 1px solid $color-point;
    width: 180px;
    height: 40px;
    font-size: 18px;
    // border-radius: 50px;
    font-weight: 100;
    @include center;
  }
  .background {
    pointer-events: none;
  }
  .white_section {
    height: 85%;
    z-index: 100;
    position: absolute;
    bottom: 2.5%;
    right: 3%;
    @include center;
    flex-direction: column;
    gap: 5px;
    .button_box {
      @include center;
      gap: 8px;
    }
  }
}

.left_arrow {
    width: 30px;
    opacity: 0.7;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
