@import "../common/common";

.wrapper {
  position: relative;
  height: 720px;
  .trash_can {
    width: 130px;
    position: absolute;
    right: -2%;
    bottom: 2%;
  }

  .cabinet {
    position: absolute;
    top: -20px;
    left: -48px;
    width: 222px;
    z-index: 2;
  }
  .cool {
    position: absolute;
    bottom: 228px;
    left: -130px;
    width: 385px;
    z-index: 1;
  }
  .ice {
    position: absolute;
    bottom: 18px;
    left: -100px;
    width: 325px;
  }
  .background {
    width: 100%;
    height: 100%;
  }

  .receipt {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 80px;
    right: 60px;
    width: 100px;
    height: 100px;
  }
  .design {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 220px;
    right: 20px;
    width: 130px;
    height: 100px;
  }
  .report {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 350px;
    right: 90px;
    width: 80px;
    height: 70px;
  }
  .recipe {
    position: absolute;
    z-index: 6;
    // opacity: 0;
    bottom: 290px;
    left: 105px;
    width: 60px;
  }
  // .cabinet_btn {
  //   position: absolute;
  //   // top: 40px;
  //   top: 35px;
  //   left: -1px;
  //   width: 170px;
  //   height: 180px;
  //   border-radius: 50%;
  //   cursor: pointer;
  //   // width: 170px;
  //   z-index: 10;
  //   background-color: red;
  //   opacity: 0;
  // }

  //   .set {
  //     height: 720px;
  //     // display: flex;
  //     // flex-direction: column;
  //     position: relative;
  //     .cabinet {
  //     //   position: absolute;
  //     //   top: 10px;
  //     //   left: 0px;
  //       width: 30%;
  //     }
  //     .cool {
  //       position: absolute;
  //       top: 150px;
  //       left: 0px;
  //       width: 40%;
  //     }
  //     .ice {
  //       position: absolute;
  //       top: 450px;
  //       left: 0px;
  //       width: 40%;
  //     }
  //   }
  //   img {
  //     width: 100px;
  //     height: 200px;
  //   }
}
