@import "../common/common";
@mixin badge($left, $bottom) {
  width: 40px;
  position: absolute;
  left: $left;
  bottom: $bottom;
  z-index: 50;
  pointer-events:initial;
}

.wrapper {
  position: relative;
  height: 720px;
  .trash_can {
    width: 130px;
    position: absolute;
    right: -2%;
    bottom: 2%;
  }

  .cabinet {
    position: absolute;
    top: -20px;
    left: -48px;
    width: 222px;
    z-index: 2;
  }
  .cool {
    position: absolute;
    bottom: 228px;
    left: -130px;
    width: 385px;
    z-index: 1;
  }
  .ice {
    position: absolute;
    bottom: 18px;
    left: -100px;
    width: 325px;
  }
  .background {
    width: 100%;
    height: 100%;
  }

  .receipt {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 80px;
    right: 60px;
    width: 100px;
    height: 100px;
  }
  .design {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 220px;
    right: 20px;
    width: 130px;
    height: 100px;
  }
  .report {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 350px;
    right: 90px;
    width: 80px;
    height: 70px;
  }
  .recipe {
    position: absolute;
    z-index: 6;
    bottom: 290px;
    left: 105px;
    width: 60px;
  }
  .badge1 {
    @include badge(60px, 400px);
  }
  .badge2 {
    @include badge(120px, 450px);
  }
  .badge3 {
    @include badge(0px, 350px);
  }
  .badge4 {
    @include badge(60px, 300px);
  }
  .badge5 {
    @include badge(60px, 180px);
  }
  .badge6 {
    @include badge(120px, 200px);
  }
  .badge7 {
    @include badge(60px, 70px);
  }
  .badge8 {
    @include badge(130px, 100px);
  }
}
