@font-face {
  font-family: "PFStardust";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/PFStardust1.3.ttf");
}

@font-face {
  font-family: "AppleSDGothicNeoR00";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/AppleSDGothicNeoR.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "PFStardust";
  text-align: center;
  border: 0px;
  /* white-space: pre-wrap; */
  font-size: 100%;
}

html,
body,
button {
  line-height: 1;
}

html,
body {
  height: 100%;
  background-color: #fce6e7;

  .react-datepicker {
    border: 1px solid black;
    border-radius: 0;
    display: flex;

    .react-datepicker__header {
      background-color: #fce6e7;
      border-bottom: none;
      border-radius: 0;
    }
  }

  .react-datepicker__input-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .react-datepicker__view-calendar-icon input {
    padding: 0px;
  }

  .react-datepicker__triangle {
    display: none;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: white;
}

body>div {
  height: 100%;
}

/* 
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
} */