@import "./reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}


@font-face {
  font-family: 'PFStardust';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}