@import "../common/common";

.wrapper {
  position: relative;
  height: 720px;
  .trash_can {
    width: 130px;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
  .bar_box {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: 10;
    .bar_sub_box {
      width: 100%;
      height: 100%;
      position: relative;
      .current_exp {
        z-index: 15;
        width: 50%;
        height: 8px;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        left: 15%;
        background-color: #fda2cd;
        z-index: 20;
      }
      .bar_background {
        width: 90%;
        z-index: 10;
      }
      .bar_heart_box {
        z-index: 30;
        width: 30px;
        aspect-ratio: 1/1;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        left: 10%;
        .bar_heart_sub_box {
          position: relative;
          .bar_heart {
            width: 100%;
          }
          > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -65%);
            color: white;
            font-size: $font-lg;
            font-weight: 700;
            text-shadow: -1px 0px black, 0px 1px black, 1px 0px black,
              0px -1px black;
          }
        }
      }

      .exp_bar {
        z-index: 15;
        width: 62%;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        left: 15%;
      }
      .notification_box {
        z-index: 20;
        top: 50%;
        transform: translate(0, -50%);
        width: 30px;
        position: absolute;
        right: 10%;
        .notification_sub_box {
          position: relative;
          width: 100%;
          > img {
            width: 100%;
          }
          > div {
            position: absolute;
            width: 8px;
            aspect-ratio: 1/1;
            right: 3px;
            top: 3px;
            border-radius: 50%;
            background-color: #b61f1f;
            border: 1px black solid;
          }
        }
      }
    }
  }
  .cabinet {
    position: absolute;
    top: -20px;
    left: -45px;
    width: 220px;
    z-index: 2;
  }
  .cool {
    position: absolute;
    bottom: 228px;
    left: -50px;
    width: 232px;
    z-index: 1;
  }
  .ice {
    position: absolute;
    bottom: 18px;
    left: -50px;
    width: 230px;
  }
  .background {
    width: 100%;
    height: 100%;
  }

  .receipt {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 80px;
    right: 60px;
    width: 100px;
    height: 100px;
  }
  .design {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 220px;
    right: 20px;
    width: 130px;
    height: 100px;
  }
  .report {
    position: absolute;
    z-index: 5;
    opacity: 0;
    top: 350px;
    right: 90px;
    width: 80px;
    height: 70px;
  }
  .recipe {
    position: absolute;
    z-index: 6;
    // opacity: 0;
    bottom: 290px;
    left: 110px;
    width: 60px;
  }
  // .cabinet_btn {
  //   position: absolute;
  //   // top: 40px;
  //   top: 35px;
  //   left: -1px;
  //   width: 170px;
  //   height: 180px;
  //   border-radius: 50%;
  //   cursor: pointer;
  //   // width: 170px;
  //   z-index: 10;
  //   background-color: red;
  //   opacity: 0;
  // }

  //   .set {
  //     height: 720px;
  //     // display: flex;
  //     // flex-direction: column;
  //     position: relative;
  //     .cabinet {
  //     //   position: absolute;
  //     //   top: 10px;
  //     //   left: 0px;
  //       width: 30%;
  //     }
  //     .cool {
  //       position: absolute;
  //       top: 150px;
  //       left: 0px;
  //       width: 40%;
  //     }
  //     .ice {
  //       position: absolute;
  //       top: 450px;
  //       left: 0px;
  //       width: 40%;
  //     }
  //   }
  //   img {
  //     width: 100px;
  //     height: 200px;
  //   }
}
